
<!--Header End-->

<!--content start-->
<div class="content">

<ul>
<li><a href="index.html">Home</a></li>
<li><a href="about.html">About Us</a></li>
<li><a href="service.html">Services</a></li>
<li><a href="Portfolio.html">Portfolio</a></li>
<li><a href="contact.html">Contact Us</a></li>
</ul>

</div>
<!--content End-->

<!--Footer start-->
<div class="footer">

<div class="footer-left"><img src="images/footer-left.png" alt="" /></div>

<div class="footer-center">© 2012Mobile Theme</div>

<div class="footer-right"><a href="#"><img src="images/footer-right.png" alt="" width="100" height="40" /></a></div>

</div>
<!--Footer End-->

